@charset "UTF-8";
.threePicker-layout{
	position: absolute;
	left: 0;
	// top: 100px;
}
.threePicker-layout.on{
	opacity: 1;
	visibility: visible;
	z-index: 99;
}
.threePicker-layout.picker-hide{
	display: none;
}
.picker-content{
	width: 350px;
	background-color: #fff;
	border: 1px solid #ddd;
}
.threePicker-layout .picker-close-btn{
	width: 100%;
	height: .55rem;
	line-height: .55rem;
	text-align: center;
	color: #fff;
	background-color: #2ca0fa;
}
.threePicker-layout .picker-tab{
	background-color: #f5f5f5;
	border-bottom: 1px solid #ddd;
}
.threePicker-layout .picker-tab p{
	display: inline-block;
	padding: 6px 20px;
	color: #777;
	font-size: 14px;
	cursor: pointer;
}
.threePicker-layout .picker-tab p:hover{
	color: #2ca0fa;
}
.threePicker-layout .picker-tab p.on{
	border-bottom: 2px solid #2ca0fa;
	color: #2ca0fa;
}
.threePicker-layout .picker-list-wrapper{
	position: relative;
	font-size: 12px;
	overflow-x:hidden; 
}
.threePicker-layout .picker-list{
	position: absolute;
	top: 0;
	left: 0;
	padding: 10px 0;
	width: 100%;
	display: none;
}
.threePicker-layout .picker-list.on{
	position: static;
	display: block;
}
.threePicker-layout .picker-list li{
	display: inline-block;
	padding: 8px 10px;
	cursor: pointer;
}
.threePicker-layout .picker-list li.on,
.threePicker-layout .picker-list li:hover{
	color: #2ca0fa;
}
.threePicker-layout .picker-preview{
	padding: 8px 10px;
	font-size: 12px;
	border-top: 1px solid #ddd;
	background-color: #f5f5f5;
}
.threePicker-layout .picker-btn-wrapper{
	padding: .15rem;

}